[Desktop Entry]
Name=Brisk
Comment=Ultra-fast, modern download manager for desktop
Exec=brisk
Icon=data/flutter_assets/assets/icons/logo.png
Terminal=false
Type=Application
Categories=Network;Utility;
StartupNotify=true
