[Desktop Entry]
Name=Brisk
Comment=Ultra-fast, modern download manager for desktop
Exec=brisk
Icon=${SNAP}/meta/gui/brisk.png
Terminal=false
Type=Application
Categories=Network;Utility;
