name: Windows
on:
  workflow_dispatch:
  
jobs:
  version:
    runs-on: windows-latest
    permissions:
      contents: read 
    outputs:
      version: ${{ steps.extract_version.outputs.version }}
    steps:
      - uses: actions/checkout@v4.1.5
      
      - name: Extract Version from pubspec.yaml
        id: extract_version
        run: |
           $VERSION = Select-String  -Path ".\pubspec.yaml" -Pattern "version: (\d+\.\d+\.\d+)" -CaseSensitive | ForEach-Object{ $_.Matches.Groups[1].Value }
           echo version=$VERSION >> $env:GITHUB_OUTPUT
           
  Build-windows:
    runs-on: windows-latest
    permissions:
      contents: read 
    needs: version
    steps:
      - uses: actions/checkout@v4.1.5
      - name: Install flutter
        uses: subosito/flutter-action@v2.14.0
        with:
          flutter-version: "3.22.0"
          channel: 'stable'
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:' 
          cache-path: '${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:' 
          architecture: x64
          
      - name: Install project dependencies
        run: |
         flutter pub get
         dart pub global activate flutter_distributor
         
      - name: Generate intermediates
        run: flutter pub run build_runner build --delete-conflicting-outputs

      - name: Set proper icon path
        run: |
          $iconPath = "${{ github.workspace }}\\assets\\icons\\logo.ico"
          (Get-Content windows/packaging/exe/make_config.yaml) -replace 'PLACEHOLDER_ICON_PATH', $iconPath | Set-Content windows/packaging/exe/make_config.yaml
        
      - name: Enable windows build
        run: flutter config --enable-windows-desktop

      - name: Build artifacts
        run: flutter_distributor package --platform windows --targets exe
        
      - name: change name of .exe
        run: Get-ChildItem -Recurse -Path .\dist\ -Filter "*.exe" -File | Move-Item -Destination .\Brisk-v${{ needs.version.outputs.version }}-windows-x86_64.exe
        
      - name: Upload artifact 
        uses: actions/upload-artifact@v4.3.3
        with:
          name: brisk-windows
          path: Brisk-v${{ needs.version.outputs.version }}-windows-x86_64.exe
          retention-days: 1
  Release:
    runs-on: ubuntu-latest
    needs: [Build-windows, version]
    permissions:
      contents: write
    steps:

      - name: Checkout the code
        uses: actions/checkout@v4.1.5

      - name: Donwload artifact package
        uses: actions/download-artifact@v4.1.0
        with:
          name: brisk-windows

      - name: Release the changes
        uses: softprops/action-gh-release@v2.0.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ needs.version.outputs.version }} 
          body_path: ./.github/release.md 
          #body: ${{ inputs.Release_note }} 
          files: |
           ./Brisk-v${{ needs.version.outputs.version }}-windows-x86_64.exe
